.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.splitter {
	height: 100%;
	border-right: 1px solid #000;
}

.input-file {
	display: none;
}

.addBtn {
	background-color: #82CDD0;
	cursor: pointer;
	font-weight: bold;
	border-radius: 45px;
	border: none;
	color: #fff;
	padding: 10px 20px;
	margin-top: 1rem;
	font-size: 1rem;
}

.processBtn {
	background-color: #82CDD0;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	color: #fff;
	padding: 4px 8px;
	font-size: 1rem;
	margin-left: 0.8rem;
	width: 100px;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

h6 {
	text-align: center;
}

.labelStudent {
	margin-top: 3rem;
	
}

.type {
	margin-left: 9rem;
	margin-top: 1.5rem;
}

.typeProc {
	margin-left: 4rem;
	margin-top: 3rem;
}

#fileUnique {
	margin-left: 3rem;
}

.labelSemester {
	margin-top: 1.5rem;
}

.settings {
	margin-left: 1rem;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.settings-panel {
	position: fixed;
	top: 0;
	left: -350px;
	width: 350px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	transition: left 0.3s;
	z-index: 999;
}

.settings-panel.show {
	left: 0;
}

.file-label {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 50px;
	padding: 10px;
	border: 1px solid #DEE2E6;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
	border-style: dashed;
}

.logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}

.label-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5rem;
	color: #000000;
}

.file-label:hover {
	opacity: 0.8;
}

#department {
	width: 250px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh;
}

#commentaire {
	width: 300px;
	height: 100px;
	border: 1px solid #DEE2E6;
	border-radius: 5px;
}

.modal-dialog {
	margin-top: 10rem;
}

#avisMaster,
#avisEcoleIngenieur {
	margin-left: 1rem;
}
.styled-select {
	width: 150px;
	height: 40px;
	padding: 5px 10px;
	font-size: 16px;
	color: #333;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml,<svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px;
	cursor: pointer;
}

.styled-select:focus {
	border-color: #666;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.styled-select option {
	padding: 10px;
}
.validate {
	border: 1px solid #13c758;
	border-style: solid;
}
