nav {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
	position: relative;
}

.nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

.nav-link:hover::after {
	background-color: #82CDD0;
}

.nav-selected::after {
	content:'';
	height:2px;
	width:90%;
	background:#82CDD0;
	position:absolute;
	left: 5%;
	bottom: 0;
}

.navbar-nav .nav-item:last-child .nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	left: -0.8rem;
}

.navbar-nav .nav-item:last-child .nav-link::after {
	background-color: transparent;
}

span {
	font-size: 0.9rem;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #EEECEC;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
}

.background-left {
	position: fixed;
	top: 4rem;
	left: -2rem;
	width: 270px;
	height: calc(100vh - 30px);
	background-image: url('./img/BulleGauche.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.background-right {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 250px;
	height: 250px;
	background-image: url('./img/BulleDroite.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.background-center {
	position: fixed;
	top: 45%;
	left: 45%;
	width: 200px;
	height: 130px;
	background-image: url('./img/Logo_ScoNotes.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.rotate {
	transform: rotate(180deg) !important;
	transition: transform 0.5s ease !important;
}

.default {
	transform: rotate(0deg);
	transition: transform 0.5s ease;
}

.form-control-modified {
	width: 8.5rem;
	margin-top: 10rem;
	margin-left: 5rem;
}

#addYearBtn {
	margin-left: 5rem;
	width: 8.5rem;
	font-size: 0.8rem;
}

.logo {
	cursor: pointer	;
	z-index: 1000;
}

@media (max-width: 768px) {
	.background-left {
		width: 30vw;
		height: calc(100vh - 4rem);
		left: -4rem;
	}
	.background-right {
		width: 30vw;
		height: 30vw;
	}
	.arrow {
		margin-left: 1.5rem;
	}
	.nav-link::after {
		width: 10%;
		left: 45%
	}
}

@media (max-width: 576px) {
	.background-left {
		width: 40vw;
		height: calc(100vh);
		left: -8rem;
		top: 2rem;
	}
	.background-right {
		width: 40vw;
		height: 40vw;
	}
}

.profile-popup {
	display: none;
	position: absolute;
	top: 80px;
	right: 1px;
	width: 250px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	height: 180px;
	z-index: 1000;
}

.profile-info {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 8px;
	margin-left: 7px;
}

.profile-icon {
	font-size: 2em;
	margin-right: 10px;
}

.profile-text {
	display: flex;
	flex-direction: column;
}

.username {
	font-weight: bold;
}

.role {
	color: gray;
}

.logout-button {
	width: 100%;
	padding: 10px;
	background-color: #82CDD0;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
}

.logout-button:hover {
	background-color: #5f9ea0;
}
